body {
  font-family: 'Inconsolata', monospace;
}

header > * {
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 80% 5%;
}

.main-section {
  align-items: center;
  display: flex;
  justify-content: center;
}

div.nav {
  padding: 8px;
  margin: 0 4px;
  border: 1px dotted black;

  > a {
    padding: 8px;
  }
}

section.text-section {
  margin: 0 auto;
  max-width: 980px;
  overflow-y: auto;
  padding: 1em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
